
[<label for="item">----Item: </label>
<input id="item" type="text" [formControl]="item">
<select name="" id=""></select>
]
[
<label for="region">Region: </label>
<input id="region" type="text" [formControl]="region">
<select name="" id=""></select>
]
<!-- 
<h4>
    <mat-form-field appearance="fill">
        <mat-label>
            Scope
        </mat-label>
        <mat-select [formControl]="scopeForm" multiple>
            <mat-option *ngFor="let scope of scopeList" [value]="scope">
                {{scope}}
            </mat-option> 
        </mat-select>
    </mat-form-field>
</h4> -->
