<p>search-entity-widget works!</p>
<form [formGroup]="searchEntityForm" (ngSubmit)="onSubmit(searchEntityForm)">
    <div>
      <label>
        <input formControlName="name" placeholder="entity name"   (keyup)="updater()" >
      </label>
    </div>
</form>

<mat-form-field>
  <mat-select [(value)]="selected">
    <mat-option>None</mat-option>
    <mat-option value="all">All</mat-option>
    <mat-option value="corporation">Corporation</mat-option>
    <mat-option value="alliance">Alliance</mat-option>
    <mat-option value="faction">Faction</mat-option>
    <mat-option value="ship">Ship</mat-option>
    <mat-option value="group">Group</mat-option>
    <mat-option value="solarSystem">Solar System</mat-option>
    <mat-option value="constellation">Constellation</mat-option>
    <mat-option value="region">Region</mat-option>
    <mat-option value="location">Location</mat-option>
    <mat-option value="label">Label</mat-option>
  </mat-select>
</mat-form-field>
<p>You selected: {{selected ?selected  : 'None'}} </p>
