<p>search-entity-widget works!</p>
<form [formGroup]="searchEntityForm" (ngSubmit)="onSubmit(searchEntityForm)">
    <div>
      <label>
        <input formControlName="name" placeholder="entity name"   (keyup)="updater()" >
      </label>
    </div>
</form>
<mat-form-field appearance="fill">
    <mat-label>Select entity Ty     pe</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="Character">Character</mat-option>
      <mat-option value="Corporation">Corporation</mat-option>
      <mat-option value="Alliance">Alliance</mat-option>
      <mat-option value="Solar System">Solar System</mat-option>
      <mat-option value="Constellation">Constellation</mat-option>
      <mat-option value="Region">Region</mat-option>
    </mat-select>
  </mat-form-field>
  
  <p>You selected: {{selected ?selected  : 'None'}}</p>
  <!-- {{this.searchEntityForm.value.name}}
   -->