
<h1>LOGGED IN SUCCeSS as   {{currentUser.CharacterName}}
  <img class="avatarimage lazy" src="https://imageserver.eveonline.com/Character/{{currentUser.CharacterID}}_32.jpg" alt="">
</h1>

<button (click)="getContactlist()"> hh   </button>
  <mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
target name 
<app-watchlist>

</app-watchlist>
  </mat-grid-tile>


  <mat-grid-tile>
    placeholder

<app-entity-listener></app-entity-listener>
  </mat-grid-tile>


  <mat-grid-tile>
ZkillRatios

  </mat-grid-tile>

  <mat-grid-tile>
    cyno risk Placeholder
  </mat-grid-tile>

  <mat-grid-tile>
    top 5 favourite ships
  </mat-grid-tile>

  <mat-grid-tile>
    hangs out in gangs
  </mat-grid-tile>

  <mat-grid-tile>
    regionSocket  
  </mat-grid-tile>

  <mat-grid-tile>
    top dealer ? 
  </mat-grid-tile>

  <mat-grid-tile>
    top dealer ? 
  </mat-grid-tile>

  <mat-grid-tile>
    top dealer ? 
  </mat-grid-tile>

  <mat-grid-tile>
    top dealer ? 
  </mat-grid-tile>

  <mat-grid-tile>
    top dealer ? 
  </mat-grid-tile>

</mat-grid-list>9

<app-autocompleter>
</app-autocompleter>

10