
<h1>LOGGED IN SUCCeSS</h1>
<button (click)="getContactlist()"> hh   </button>

  <mat-grid-list cols="3" rowHeight="3:2">
 1
  <mat-grid-tile>
2
<img class="avatarimage lazy" src="https://imageserver.eveonline.com/Character/{{currentUser.CharacterID}}_128.jpg" alt="">

3



  </mat-grid-tile>4


  <mat-grid-tile>
    <app-watchlist>6

    </app-watchlist>
  </mat-grid-tile>8


  <mat-grid-tile>
ZkillRatios



  </mat-grid-tile>

  <mat-grid-tile>
    cyno Status risk Placeholder
  </mat-grid-tile>

  <mat-grid-tile>
    top 3 favourite ships
  </mat-grid-tile>

  <mat-grid-tile>
    hangs out in gangs
  </mat-grid-tile>

  <mat-grid-tile>
    top dealer ? 
  </mat-grid-tile>



</mat-grid-list>9

<app-autocompleter>
</app-autocompleter>


10