<p>autocomplete works!</p>


<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Item to search</mat-label>
      <input matInput placeholder="" value="Item name" onkeypress ="  console.log( value) "        >
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
  

  <button (click)="bidule()"> Bidule
</button>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div>
      <label>
        Name:
        <input formControlName="name" placeholder="Your name">
      </label>
    </div>
    <div>
      <label>
        Email:
        <input formControlName="email" placeholder="Your email">
      </label>
    </div>
    <div>
      <label>
        Message:
        <input formControlName="message" placeholder="Your message">
      </label>
    </div>
    <button type="submit">Send</button>
  </form>
