

    <button (click)="printComponent()"> 
      PrintComponent 
    </button>

  
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div>
      <label>
        <input formControlName="name" placeholder="entity name"   (keyup)="updater()" >
      </label>
    </div>
</form>

<li *ngFor="let item of autoCompleteSearchResults; index as i;"
    class = "CharacterWidget "
>
<button (click)="addToWatchList(item)"> 
    +
</button>
<img   class="avatarimage lazy" src="https://imageserver.eveonline.com/Character/{{item.id}}_32.jpg"  height="32" width="32" alt=""> 
    {{item.name}}
    {{item.id}}
    <!-- <button (click)="yolo()" ></button> -->

</li>