

    <button (click)="printComponent()"> 
      PrintComponent 
    </button>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div>
      <label>
        <input formControlName="name" placeholder="entity name"   (keyup)="updater()" >
      </label>
    </div>
</form>

<h5 *ngFor="let item of autoCompleteSearchResults; index as i;">

<img    *ngIf=" true  "   
        class="avatarimage lazy" src="https://images.evetech.net/{{item.image}}"  height="16" width="16" alt=""> 
<!-- //<img *ngIf="item.type !== 'region'"   class="avatarimage lazy" src="https://images.evetech.net/{{item.image}}"  height="32" width="32" alt="">  -->
    {{item.name}}
    <!-- <button (click)="yolo()" ></button> -->

    <button (click)="addToWatchList(item)"> 
        +
    </button>

</h5>
<button (click)="this.yolo()" ></button>



