


<details  style="background-color: darkslategrey;  color: lightgray; ">
    <summary>
        TinycombarteportPLaceholder
        {{zKillReport?.killmail_time}}
        {{zKillReport?.solar_system_id}}
    </summary>
   Solar System Infos
    {{zKillReport?.solar_system_id}}
    <details style="background-color: darkred;">
        <summary>
            Attackers {{zKillReport?.attackers.length}}
        </summary>
            AttackInfoss
    </details>

    <details style="background-color: darkgreen;">
         <summary>
            Defense  {{zKillReport?.victim.damage_taken}}
        </summary>
        Defense Infos
    </details>
    <button (click)="lol()">Set Destination</button>
</details>