


<details  style="background-color: darkslategrey;  color: lightgray; ">
    <summary>
        {{zKillReport?.killmail_time}}
        {{zKillReport?.solar_system_id}}

    
        {{systemName}}

    </summary>
   Solar System Infos
   <!-- <a href="{{this.zKillReport?.zkb.url}}">link text</a> -->
   <button (click)="goToLink(this.zKillReport?.zkb.url)">zkillLink</button>

    {{zKillReport?.solar_system_id}}
    <details style="background-color: darkred;">
       | |
        <summary>
           Number of Attackers {{zKillReport?.attackers.length}}
        </summary>
            AttackInfoss
    </details>

    <details style="background-color: darkgreen;">
         <summary>
            DamageTaken  {{zKillReport?.victim.damage_taken}}
        </summary>
        Defense Infos
    </details>
    <button (click)="lol() ; setDestination() ">
        Set Destination
    </button>
    {{eveKillReport}}

</details>