
<!-- 
<details  style="background-color: darkslategrey;  color: lightgray; ">
    <summary>
        TinycombarteportPLaceholder
        {{zKillReport?.killmail_time}}
        {{zKillReport?.solar_system_id}}
    </summary>
   Solar System Infos
    {{zKillReport?.solar_system_id}}
    <details style="background-color: darkred;">
        <summary>
            Attackers {{zKillReport?.attackers.length}}
        </summary>
            AttackInfoss
    </details>

    <details style="background-color: darkgreen;">
         <summary>
            Defense  {{zKillReport?.victim.damage_taken}}
        </summary>
        Defense Infos
    </details>
    <button (click)="setDestination()">Set Destination</button>
</details>  -->

<details style="background-color: darkslategrey; color: lightgray;">
    <summary>Killmail Details</summary>
    <div>
      <h2>Killmail ID: {{zKillReport?.killmail_id}}</h2>
      <p>Killmail Time: {{zKillReport?.killmail_time}}</p>
      <p>Solar System ID: {{zKillReport?.solar_system_id}}</p>
    </div>
    <details style="background-color: darkred;">
      <summary>Attackers ({{zKillReport?.attackers.length}})</summary>
      <div>
        <ul>
          <li *ngFor="let attacker of zKillReport?.attackers">
            <p>Alliance ID: {{attacker.alliance_id}}</p>
            <p>Character ID: {{attacker.character_id}}</p>
            <p>Corporation ID: {{attacker.corporation_id}}</p>
            <p>Damage Done: {{attacker.damage_done}}</p>
            <p>Final Blow: {{attacker.final_blow}}</p>
            <p>Security Status: {{attacker.security_status}}</p>
            <p>Ship Type ID: {{attacker.ship_type_id}}</p>
            <p>Weapon Type ID: {{attacker.weapon_type_id}}</p>
          </li>
        </ul>
      </div>
    </details>
    <details style="background-color: darkgreen;">
      <summary>Victim</summary>
      <div>
        <p>Alliance ID: {{zKillReport?.victim.alliance_id}}</p>
        <p>Character ID: {{zKillReport?.victim.character_id}}</p>
        <p>Corporation ID: {{zKillReport?.victim.corporation_id}}</p>
        <p>Damage Taken: {{zKillReport?.victim.damage_taken}}</p>
        <p>Ship Type ID: {{zKillReport?.victim.ship_type_id}}</p>
        <p>Position:</p>
        <ul>
          <li>X: {{zKillReport?.victim.position.x}}</li>
          <li>Y: {{zKillReport?.victim.position.y}}</li>
          <li>Z: {{zKillReport?.victim.position.z}}</li>
        </ul>
      </div>
    </details>
    <button (click)="setDestination()">Set Destination</button>
    <!-- <button onclick="setDestination()">Set Destination</button> -->
  </details>