	details {
		border       	: 1px solid #aaa;
		border-radius	: 4px;
		padding			: .5em .5em 0;
	}

	summary {
		font-weight		: bold;
		margin			: -.5em -.5em 0;
		padding			: .5em;
	}

	details[open] {
		padding			: .5em;
	}

	details[open] summary {
		border-bottom	: 1px solid #aaa;
		margin-bottom	: .5em;
	}

	.vertical-menu {
		width			: 200px; /* Set a width if you like */
	}

  	.vertical-menu a {
		background-color: #eee; /* Grey background color */
		color			: black; /* Black text color */
		display			:	block	; /* Make the links appear below each other */
		padding			: 12px; /* Add some padding */
		text-decoration	: none; /* Remove underline from links */
  	}

	.vertical-menu a:hover {
		background-color: #ccc; /* Dark grey background on mouse-over */
 	}

	.vertical-menu a.active {
		background-color: #04AA6D; /* Add a green color to the "active/current" link */
		color			: white;
	}

	.scroller{
		overflow-y: scroll;
		width: 25em;
  		height: 12em;
	}